.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

::placeholder {
  color: white;
  opacity: 1; /* Firefox */
}

#swapmodalinput-hover:hover {
  background-color: #394353;
}

#swapmodalinput-hover {
  background-color: #2b3647;
 
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  #xswap {
   
    width: 48%;
  }
  #swap{
    width: 48%;
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1800px) {
  #xswap {
   
    width: 40%;
  }
  #swap{
    width: 40%;
  }
}





